
                   <tr>
                    <th><small>Par</small></th>
                        <td class="parHole">4</td>
                        <td class="parHole">5</td>
                        <td class="parHole">3</td>
                        <td class="parHole">4</td>
                        <td class="parHole">4</td>
                        <td class="parHole">5</td>
                        <td class="parHole">4</td>
                        <td class="parHole">3</td>
                        <td class="parHole">4</td>
                        <td class="parHole">36</td>
                        <td class="parHole">5</td>
                        <td class="parHole">4</td>
                        <td class="parHole">4</td>
                        <td class="parHole">3</td>
                        <td class="parHole">5</td>
                        <td class="parHole">3</td>
                        <td class="parHole">4</td>
                        <td class="parHole">3</td>
                        <td class="parHole">4</td>
                        <td class="parHole">35</td>
                        <td class="parHole">71</td>
 
                           
                  </tr>
                   <tr>  
                    <th><small>Yardage</small></th>
                        <td class="parHole">464</td>
                        <td class="parHole">600</td>
                        <td class="parHole">206</td>
                        <td class="parHole">445</td>
                        <td class="parHole">344</td>
                        <td class="parHole">547</td>
                        <td class="parHole">476</td>
                        <td class="parHole">246</td>
                        <td class="parHole">426</td>
                        <td class="parHole">#</td>
                        <td class="parHole">544</td>
                        <td class="parHole">390</td>
                        <td class="parHole">455</td>
                        <td class="parHole">167</td>
                        <td class="parHole">533</td>
                        <td class="parHole">221</td>
                        <td class="parHole">462</td>
                        <td class="parHole">187</td>
                        <td class="parHole">491</td> 
                        <td class="parHole">#</td>
                        <td class="parHole">#</td> 


