<h1>Editing Scorecard</h1>

 
  <table>
      <tr><td>Player</td>
        <%= render 'hole_number_headings' %>
        <%= render 'total_score' %>
      </tr>
  </table>
    


 <%= link_to "back to scorecards listing", scorecards_path %>
