<div class="center jumbotron">
  <table>
    <h2> Show Scorecards</h2>
    <%= form_for :scorecard do |f| %>
        <%= render 'scores_output' %>
    <% end %>
    <%= link_to 'Edit this scorecard', edit_scorecard_path(@scorecard) %>  |
    <%= link_to 'Back to scorecards listing', scorecards_path %>
  </table>
</div>