  <% 1.upto(9) do |holes| %>
    <td><%=  holes.to_s  %></td>
  <% end %>
  <th><small>Out</small></th>
  <% 10.upto(18) do |holes| %>
    <td><%=  holes.to_s  %></td>
    <% end %>
  <th><small>In</small></th>
  <th><small>Total</small></th>    
  <br/>
 
  
  