<h4>Our Mission Statement</h4>


<p> It's simple....

Work harder.
Give more. Ask not. - unknown women
<br />
<br />

Do. Or do not. There is no try. 
<br />
Fall if you will, but rise you must.
  – Yoda
</p>