<div class="center jumbotron">
  <!DOCTYPE html>
  <html>
  <head>
  </head>
  <body>
  <div id="header">
    <h1>Spirit Creek Golf Club</h1>
    <%= render 'mission_statement' %>
  </div>
  <div id="footer">
    <p id="copyright">&copy; Madhattercreek.com</p>
  </div>
  <footer>About page</footer>
  </body>
  </html>
</div>

