<div class="center jumbotron">
  
  
  <!DOCTYPE html>
<html>

  <head>
  
  </head>

 <body>

    <div id="header">
      <h1>Spirit Creek Golf Club</h1>
      <%= render 'mission_statement' %>
      
    </div>
    <div id="footer">
      <p id="copyright">&copy; Madhattercreek.com</p>
    </div>
    
  </body>
</html>

<%= link_to 'Home', root_path  %><br/>

<%= link_to 'Scorecard', scorecards_path  %>
</div>


<footer>About page </footer>