<div class="center small_jumbotron">

  <h2>Welcome to Spirit Creek Golf Club</h2>
<!--

  <= link_to 'About Page', about_path %><br/>
  <= link_to 'Scorecard', scorecards_path %><br/>
  <= link_to 'Course Layout', courses_path %>
-->

</div>