<div class="center jumbotron">
  <table>
    <h2> Show Courses</h2>
    <%= form_for :course do |f| %>
        <%= render 'par_yard_output' %>
    <% end %>
    <%= link_to 'Edit this course', edit_course_path(@course) %>  |
    <%= link_to 'Back to courses listing', courses_path %>
  </table>
</div>