
h1 {
  color: #337ab7
}
.parHole {
  background-color: #2d8059;
  align-content: center;
  text-align: center;
  column-width: inherit;
  border-width: 2px;  
  border-style: inset;
  
}
th {
  background-color: #E8A974;
  align-content: center;
  text-align: center;
  column-width: inherit;
  border-width: 2px;  
  border-style: inset;
}

td {
  background-color: #E8A974;
  height: 20px;
  text-align: center;
  column-width: 3em;
  border-width: 3px;  
  border-style: inset;
}

body {
  background-image: url(green_view_golfhole.png);
  background-color: #beae99;
}

.scorecard th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.scorecard th .asc {
  background-image: url(/images/up_arrow.png);
}

.scorecard th .desc {
  background-image: url(/images/down_arrow.png);
}
#logo {
  float: left;
  font-size: 1.7 em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1 px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.number_field {
  width: auto;
}
.center {
  text-align: center;
}
.container.small_jumbotron {
  align-content: center;
  padding-left: 100px;
  background-size: contain;
  height: 250px;
  width: 250px;
}
.jumbotron{
  background-color:#95C8E8;
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #337ab7;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1 px solid #eaeaea;
  color: #777;
}

footer small {
  float:left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.scorecard-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.scorecard-title {
  font-weight: bold;
  font-size: 1.5em;
}

.scorecard-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.scorecard-meta-details{
  border-top: 1 px solid #eaeaea;
  margin-top: 15px;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}