
 
h1 {
  color: #337ab7
}

th {
  height: 20px;
  vertical-align: bottom;
  column-width: 150px;
  border-width: 3px;  
  border-style: inset;
}

td {
  height: 20px;
  vertical-align: bottom;
  column-width: 3em;
  border-width: 3px;  
  border-style: inset;
}

body {
  background-color: #e6ac5d;
}

#logo {
  float: left;
  font-size: 1.7 em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1 px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron{
  background-color:aquamarine;
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #337ab7;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1 px solid #eaeaea;
  color: #777;
}

footer small {
  float:left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.scorecard-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.scorecard-title {
  font-weight: bold;
  font-size: 1.5em;
}

.scorecard-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.scorecard-meta-details{
  border-top: 1 px solid #eaeaea;
  margin-top: 15px;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}